<%- include('../partials/header.ejs')%>

    <main class="footer-buttons">
        <h1>About Us</h1>

        <p class="introabout"> Welcome to our photography organizers' corner! Ever wonder how those amazing photos come together? Well, we're the folks who make it happen smoothly.

            Think of us as the backstage crew at a concert, but for photos. We're the ones who plan, organize, and manage everything so that photographers can focus on capturing awesome shots.
            
            From setting up photo shoots to making sure all the details are just right, we handle it all. Our goal is to make sure every photo project runs like clockwork, so you get stunning results without any stress.
            
            So, whether you're planning a photo shoot, exhibition, or any other photo-related project, we've got your back. Let's make some magic together!
        </p>
    </main>

<%- include('../partials/footer.ejs')%>