<%- include('./partials/header.ejs') %>


    <div class="main">
        <h2>Welcome to Our Portfolio!!</h2>
        <br>
        <p>
           
            Capturing Moments: The Photography Portfolio
        </p>
        
        <p>
            
            Welcome to our photography portfolio! We are thrilled to share with you a glimpse into our visual storytelling journey. 
            We strive to capture the beauty, emotion, and essence of moments frozen
            in time. With a keen eye for detail and a passion for diverse subjects, my portfolio reflects a range of themes and styles. 
            Whether it's the vibrant colors of nature, the raw emotion in portraits, or the dynamic energy of events, each photograph 
            is a narrative waiting to be explored. 
            Thank you for taking the time to explore my work. we look forward to the opportunity to discuss and share the stories behind the lens. If you have any questions or would like to collaborate, feel free to reach out. Enjoy the visual journey!
        </p>
    </div>

<%- include('./partials/footer.ejs') %>